<center><h1>Plat4Life 2018 Game</h1></center>

<p>Socialize with your colleagues and try to find out who these stories belong to.
<br/>
You only get one shot at each!</p>
 
<h3>Pending Stories</h3>
<table>
  <% @other_user_stories.each do |story| %>
    <tr>
	  <% if !story.user_has_guessed?(current_user) %>
	  	<td align="left"><%= story.text %></td>
	  	<td align="right"><%= link_to 'Guess', story_path(story) %></td>
	  <% end %>
    </tr>
  <% end %>
</table>

<h3>My Shared Stories</h3>
<table>
  <% @current_user_stories.each do |story| %>
    <tr>
	  <td align="right"><%= link_to 'Edit', edit_story_path(story) %></td>
      <td align="left"><%= story.text %></td>
    </tr>
  <% end %>
</table>

<h3>My Guesses</h3>
<table>
  <tr>
    <th>Story</th>
	<th>My Guess</th>
  </tr>
  <% @guessed_stories.each do |story| %>
    <tr>
		<td align="left"><%= story.text %></td>
	  	<td align="right"><%= story.get_guess_for_user(current_user).author.name %></td>
    </tr>
  <% end %>
</table>
