<h2>New Personal Story</h2>

<% if @scount >= 20 && @gcount < 3 * @scount %>
You added over 20 stories, but have not made enough guesses. <br/>
Your number of guesses must be triple the number of stories to continue sharing.
<% else %>    

<%= form_with model: @story, local: true do |form| %>
 
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@story.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @story.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.text_area :text, size: "20x7" %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<p>
	Please read the story again before saving it.
	<br/>
	Make sure your writing is gender neutral.
	<br/>
	While possible, it is preferable not to modify the story once saved.
</p>
<% end %>
<% end %>

