<h2>Who wrote this story?</h2>

<p><%= @story.text %></p>

<% if @story.user != current_user && !Guess.where(user: current_user, story: @story).exists?  %>
	<h3>My guess:</h3>
	<%= form_with(model: [ @story, @story.guesses.build ], local: true) do |form| %>
		 
	<%= form.select(:author_id) do %>	  
		<%= options_from_collection_for_select(User.where.not(id: current_user.id), :id, :name) %>
	<% end %>
		  
	<p><%= form.submit %></p>
	<% end %>
<% end %>
